@model List<OD.Model.AdminLog>
@{
    ViewBag.Title = "Admin Log Listesi " + DateTime.Now.ToLongDateString()+"- Saat : "+DateTime.Now.ToShortTimeString();
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Title -->
@*<div class="row heading-bg bg-green">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-light">Export</h5>
        </div>

        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="index.html">Dashboard</a></li>
                <li><a href="#"><span>table</span></a></li>
                <li class="active"><span>Export</span></li>
            </ol>
        </div>
    </div>*@
<!-- /Title -->
<div class="row mt-5">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">@ViewBag.Title</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="example" class="table table-hover display  pb-30">
                                <thead>
                                    <tr>
                                        <th>AdminLogID</th>
                                        <th>Action Name</th>
                                        <th>Controller Name</th>
                                        <th>URL</th>
                                        <th>Date</th>
                                        <th>Execution MS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.AdminLogID</td>
                                            <td>@item.ActionName</td>
                                            <td>@item.ControllerName</td>
                                            <td>@item.Url</td>
                                            <td>@item.Date</td>
                                            <td>@item.ExecutionMs</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable();

            // Sort by columns 1 and 2 and redraw
            table
                .order([0, 'decs'])
                .draw();
        });
    </script>
} 