@model OD.Model.Ogretmenler
@using OD.UI.Utils
@{ 
    Fonksiyon f = new Fonksiyon();
}
<div class="row mt-5">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            @*<div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Öğretmen Ekle</h6>
                </div>
                <div class="clearfix"></div>
            </div>*@
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-wrap">
                                @using (Ajax.BeginForm("OgretmenGuncelleislem", "Okul", new AjaxOptions { OnSuccess = "GuncelleSonuc", HttpMethod = "POST" }, new { @class = "form-horizontal" }))
                                {
                                    @Html.HiddenFor(m=>m.OgretmenID)
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Ad Soyad</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" name="AdSoyad" id="adsoyad" type="text" value="@Model.AdSoyad" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Kullanıcı Adı</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" name="KullaniciAdi" id="kullaniciadi" type="text" value="@f.Decrypt(Model.KullaniciAdi)" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Şifre</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" name="Sifre" id="sifre" type="password" value="@f.Decrypt(Model.Sifre)" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Dönem Adı</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" name="Donem" id="donem" type="text" value="@ViewBag.Donem" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-success">Güncelle</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div><!-- .widget-body -->
            </div>

        </div><!-- .widget -->
    </div><!-- END column -->
</div><!-- .row -->

<script>
    function GuncelleSonuc(res) {
        if (res.IsSuccess == true) {
            //$("#modal-fadein").modal("hide");
            //var dialog = bootbox.dialog({
            //    title: 'SİSTEM MESAJI!',
            //    message: "<p>" + res.UserMessage + "</p>",
            //    buttons: {
            //        ok: {
            //            label: "Tamam",
            //            className: 'btn-success',
            //            callback: function () {
            //                window.location.href = '/Okul/Dersler';
            //            }
            //        }
            //    }
            //});
            window.location.href = '/Okul/Ogretmenler';
        }
        else {
            toastr.error(res.UserMessage);
        }
    }
</script>